body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f1f5f9;
    color: #374151;
    line-height: 1.6;
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 700px;
    margin: 60px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
  }
  
  .title {
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    color: #374151;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .input-group__label {
    font-weight: 500;
    margin-bottom: 5px;
    color: #4b5563;
  }
  
  .input-group__input {
    padding: 10px 12px;
    border: 1px solid #d2d6dc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background-color: #f1f5f9;
    color: #374151;
    transition: border-color 0.3s;
  }
  
  .input-group__input:focus {
    border-color: #2563eb;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  }
  
  .process-btn,
  .default-csv-btn {
    background-color: #2563eb;
    color: #ffffff;
  }
  
  .process-btn:hover,
  .default-csv-btn:hover {
    background-color: #1d4ed8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .download-link {
    background-color: #34d399;
    color: #ffffff;
  }
  
  .download-link:hover {
    background-color: #22c55e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .default-csv-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .button-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  @media (max-width: 768px) {
    .default-csv-btn {
      position: static;
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  .instructions {
    font-size: 18px;
    color: #4b5563;
    margin-bottom: 30px;
    text-align: left;
  }
  
  .instructions a {
    color: #2563eb;
    text-decoration: underline;
  }
  
  .instructions a:hover {
    color: #1d4ed8;
    text-decoration: none;
  }
  
  